.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(53, 47, 47, 0.5);
}

.machine {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 400px;
  border: 5px solid rgba(59, 2, 2, 0.9);
  background-color: rgba(153, 153, 149, 1);
}
.machine_left {
  display: flex;
}
.machine_right {
  display: flex;
}

.button {
  height: 80px;
  width: 100px;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(184, 180, 180);
  border-radius: 10px;
}

.button:active {
  background: #000;
  color: white;
}

.col_1,
.col_2,
.col_3 {
  margin-top: 15px;
}

.col_1 {
  margin-left: 25px;
}
